<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Search Jobs in Nepal</title>
  </head>
  <body class="flex flex-col items-center justify-center mx-[20vw]">
    <h1 class="my-[10vh] text-2xl font-semibold" id="title">Jobs in Nepal</h1>
    <div id="wrapper" class="grid grid-cols-3 gap-5 mb-[10vh]"></div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    axios.get("/jobs").then((resp) => {
      console.log(resp.data);
      var l = resp.data.length;
      document.querySelector("#title").innerHTML =
        "Found " + l + " Jobs in Nepal";
      for (let i = 0; i < resp.data.length; i++) {
        const data = resp.data[i];
        document.querySelector("#wrapper").innerHTML += `
                    <div class="flex border flex-col gap-2 p-5 hover:scale-102 duration-200 ">
                        <h2 class="font-medium text-xl">Job : ${data.title}</h2>
                        <p class="text-gray-600 text-md ">Recruiting Company : ${data.company}</p>
                        <p class="text-gray-600 text-md ">Location : ${data.location}</p>
                        <a href="${data.link}" class="px-3 py-2 bg-blue-400 text-white cursor-pointer hover:bg-blue-500 duration-200" target="_blank">Apply Now</a>
                        </div>
                `;
      }
    });
  </script>
</html>
